!!! 5
%html
  %head
    %title= yield(:title)

    = stylesheet_link_tag "landing", media: "all"
    = javascript_include_tag "landing"
    = csrf_meta_tags

  %body
    = render 'layouts/landing_nav'
    = yield
